/*
Hero Section
** 
*/
.hero {
    background: var(--secondary);
}

.hero>div {
    display: grid;
    grid-template-columns: 100%;
    justify-items: start;
    grid-column-gap: var(--spacing-7);
    grid-row-gap: var(--spacing-7);
}

.hero-text>h1 {
    font-size: var(--size-7);
    text-align: left;
}

.hero .hero-social {
    justify-self: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: var(--black);
    padding: var(--spacing-5);
    width: 50%;
    font-size: var(--size-3);
    text-align: center;
}

.hero .hero-social>a {
    color: var(--primary);
    text-decoration: none;
}

.hero .hero-social>a:hover,
.hero .hero-social>a:focus {
    color: var(--primary-light);
    text-decoration: none;
}

.hero .hero-image {
    width: 100%;
    display: block;
    position: relative;
}

.hero .hero-image>div {
    width: 100%;
}

.hero .hero-image img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0px auto;
    border-radius: 50% 0% 50% 50%;
    filter: grayscale(1) drop-shadow(var(--shadow) var(--secondary-dark));
    -webkit-filter: grayscale(1) drop-shadow(var(--shadow) var(--secondary-dark));
}

.hero-bg-pattern {
    position: absolute;
    width: 40%;
    z-index: -1
}

.hero-bg-pattern>img {
    width: 100%;
    height: auto;
}

.hero-bg-pattern.one {
    bottom: -20px;
    right: -20px;
}

.hero-bg-pattern.two {
    top: -20px;
    left: -20px;
}

/*
Beneft Section
** 
*/
.benefit {
    background: var(--white);
}

.benefit>div {
    display: grid;
    grid-template-columns: 100%;
    justify-items: start;
    align-content: center;
    grid-column-gap: var(--spacing-7);
    grid-row-gap: var(--spacing-7);
}

.benefit .benefit-content>.header {
    font-size: var(--size-6)
}

.benefit .benefit-illust-container {
    width: 100%;
}


/*
**Service Section
**/
.service-section>div,
.service-list {
    display: grid;
    grid-template-columns: 100%;
    justify-items: start;
    grid-column-gap: var(--spacing-9);
    grid-row-gap: var(--spacing-9);
}

.service-section .service-header {
    font-size: var(--size-6)
}

.service>i {
    color: var(--white);
    font-size: var(--size-5);
}
/*
**
*/
.data-count{
    display: grid;
    grid-template-columns: 100%;
    border-radius: 5px;
    padding-left: var(--spacing-9);
    padding-right: var(--spacing-9);
}

.data-count .data-count--header, .data-count .data-count--counts{
    grid-column-gap: var(--spacing-9);
    grid-row-gap: var(--spacing-9);
}

.data-count--counts>span{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px; 
}
.data-count--counts>span>img{
    display: block;
    width: 60%;
    height: auto;
}

/*
** Steps
*/
.steps,
.steps-inverse {
    border-radius: 5px;
    padding: var(--spacing-9);
}

.steps {
    background: var(--secondary);
}

.steps-inverse {
    background: var(--primary);
}

.steps>span,
.steps-inverse>span {
    width: var(--size-7);
    height: var(--size-7);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 500;
}

.steps>span {
    background: var(--primary);
    color: var(--secondary);
}

.steps-inverse>span {
    background: var(--secondary);
    color: var(--primary);
}

/*
**Testimony
*/
.testimony {
    padding: var(--spacing-9);
    border-radius: 5px;
    transition: all 0.3s ease-in;
    --webkit-transition: all 0.3s ease-in;
}
.testimony:hover,.testimony:focus{
    transform: translateY(20px);
    --webkit-transform: translateY(10px);
    filter: drop-shadow(var(--shadow) var(--secondary-dark));
    --webkit-filter: drop-shadow(var(--shadow) var(--secondary-dark));
}

.testimony .testimony-avatar {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background: black;
    margin-left: -30px;
    margin-top: -35px;
    overflow: hidden;
}

.testimony .testimony-avatar>img {
    width: 100%;
    height: auto;
}

/*
** Video Modal
**/
.video-modal {
    width: 100%;
    height: auto;
    background: var(--black);
}

@media(min-width: 760px) {

    /*
    Hero Section
    ** 
    */
    .hero>div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .hero .hero-text {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .hero .hero-image {
        grid-column: 3/6;
        grid-row: 1/2;
    }

    .hero .hero-social {
        grid-column: 5/6;
        grid-row: 2/3;
        width: 100%;
    }

    /*
    ** Benefit Section
    */
    .benefit>div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    }

    .benefit .benefit-content {
        grid-column: 4/6;
        grid-row: 1;
    }

    .benefit .benefit-illust-container {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 1;
    }

    .benefit-illust-container .benefit-image {
        display: block;
        position: relative;
        width: 80%;
        margin: 0px auto;
    }

    /*
    **Service Section
    **/
    .service-section>div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .service-section .service-header {
        grid-column: 1/3;
        grid-row: 1;
    }

    .service-section .service-list {
        grid-column: 2/5;
        grid-row: 2;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .service-loader {
        grid-column: 2/5;
        grid-row: 3;
    }

    /*
    ** Data Count
    */
    .data-count{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .data-count--header{
        grid-column: 1/4;
    }

}