<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <!-- Primary Meta Tags -->
    <title>Our Shelve of Exotic Caps</title>
    <meta name="title" content="Our Shelve of Exotic Caps">
    <meta name="description" content="Our caps vary in designs, colours and sizes. They are made to be void of any inconvenience and yet, very affordable">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://acecaps.com.ng/inventory">
    <meta property="og:title" content="Our Shelve of Exotic Caps">
    <meta property="og:description" content="Our caps vary in designs, colours and sizes. They are made to be void of any inconvenience and yet, very affordable">
    <meta property="og:image" content="img/meta/inventory.PNG">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://acecaps.com.ng/inventory">
    <meta property="twitter:title" content="Our Shelve of Exotic Caps">
    <meta property="twitter:description" content="Our caps vary in designs, colours and sizes. They are made to be void of any inconvenience and yet, very affordable">
    <meta property="twitter:image" content="img/meta/inventory.PNG">
    <!-- For apple devices -->
    <link rel="apple-touch-icon" type="image/png" href="img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#e40220">

    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#e40220">

    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#e24257">
    <link rel="stylesheet" type="text/css" href="css/variables.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/animations.css">
    <link rel="stylesheet" type="text/css" href="css/inventory.css">
    <script src="https://kit.fontawesome.com/801a91aeab.js"></script>
</head>

<body>
    <div id="app">
        <!--Begin Modal-->
        <modal :is-open="modalIsOpen" @close-modal="CloseModal">
            <template slot="description">
                <h4 class="modal-content">Cap Information</h4>
                <p class="modal-content">Information about {{selectedCap.name || 'Selected Cap'}}</p>
            </template>
            <template slot="body">
                <aside class="cap_info-modal">
                    <h5 class="header secondary-font">{{selectedCap.name || 'Selected Cap'}}</h5>
                    <div class="carousel-container">
                        <carousel transition='zoom' :decrease-btn-class="['carousel-btn']"
                            :increase-btn-class="['carousel-btn']" :images="selectedCap.images"></carousel>
                    </div>
                    <div class="infodata-container">
                        <article class="infodata">
                            <h6 class="header">Available Sizes</h6>
                            <span v-if="modalCapMeasurement == 'inch'" v-for="(size,index) in capMeasurement"
                                :keys="index" class="list">
                                {{size.inch}}"
                            </span>
                            <span v-if="modalCapMeasurement == 'cm'" v-for="(size,index) in capMeasurement"
                                :keys="index" class="list">
                                {{size.cm}} cm
                            </span>
                            <div style="padding: var(--spacing-2); text-align: right">
                                <a href="#" class="anchor-primary" v-if="modalCapMeasurement == 'inch'"
                                    @click="SwitchModalMeasurement('cm')">Switch to Centimeters (cm)</a>
                                <a href="#" class="anchor-primary" v-if="modalCapMeasurement == 'cm'"
                                    @click="SwitchModalMeasurement('inch')">Switch to Inches (")</a>
                            </div>
                        </article>
                        <div class='infodata'>

                        </div>
                        <div class='infodata'>
                            <h6 class="header">Visit our e-commerce outlet</h6>
                            <div class="ecommerce">
                                <a href="#"><img src="img/ecommerce-outlets/konga_black.png" alt="konga.com"></a>
                            </div>
                            <h6 class="header">OR</h6>
                            <a href="contact.html#contact-form" class="btn btn-primary">Make a custom order</a>
                        </div>
                    </div>
                </aside>
            </template>
        </modal>
        <!--End Modal-->
        <!--Begin Navbar-->
        <header class="navbar">
            <div>
                <a href="index.html" class="navbar_logo">
                    <img src="img/logo.png" alt="ace caps logo">
                </a>
                <nav class="navbar_link-container" :class="{'navbar_container-open': navIsOpen}">
                    <a href="#" class="navbar-cancel" @click.prevent="HideNavLink">
                        <i class="fas fa-times"></i>
                    </a>
                    <ul class="navbar-link">
                        <li><a class="slideUp" href="index.html">Home</a></li>
                        <li><a class="slideUp" href="contact.html">Contact Us</a></li>
                        <li><a class="slideUp" href="about.html">About</a></li>
                        <li><a class="slideUp" href="inventory.html">Inventory</a></li>
                    </ul>
                </nav>
                <div class="navbar_menu">
                    <a href="#" class="navbar_menu-btn" @click.prevent="ShowNavLink">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
        </header>
        <!--End Navbar-->
        <section class="inventory_hero">
            <div>
                <p class="hide-slideInRight"><b>INVENTORY</b></p>
                <h1 class="inventory_hero-header secondary-font hide-slideInRight">Our Shelve of Exotic Caps</h1>
                <p class="hide-slideInRight">Our caps vary in designs, colours and sizes. They are made to be void of
                    any inconvenience and yet,
                    very affordable</p>
            </div>
        </section>
        <!--Start Cap List-->
        <section class="cap_list">
            <div>
                <a v-for="cap in capData" href="#" class="cap_item hide-slideUp" @click.prevent="ShowCapData(cap)">
                    <div class="cap_image">
                        <img :src="cap.thumbnail" alt="">
                    </div>
                    <div class="cap_name">
                        <h3>{{cap.name}}</h3>
                    </div>
                    <div class="cap_detail">view detail</div>
                </a>
            </div>
        </section>
        <!--End Cap List-->
        <!--Ecommerce Section-->
        <section class="ecommerce-section">
            <div>
                <div class="ecommerce-detail hide-slideInRight">
                    <h2 class="ecommerce-header secondary-font">
                        We deliver Nationwide and Beyond
                    </h2>
                    <p>Make orders for Ace Caps within and outside Nigeria. Visit our stores on any of the E-commerce
                        outlets below </p>
                    <div class="ecommerce-outlet">
                        <a href="#">
                            <img src="img/ecommerce-outlets/konga.png" alt="konga.com">
                        </a>
                    </div>
                    <p><b>OR</b></p>
                    <div>
                        <a href="contact.html" class="btn btn-inverse btn-inverse-primary">contact us</a>
                    </div>
                </div>
                <div class="ecommerce-image hide-slideInLeft">
                    <img src="img/courier-service.png"
                        style="width:100%; height: auto;position:relative;margin: auto;margin-bottom: -8px;"
                        alt="delivery man">
                </div>
            </div>
        </section>
        <!--End Ecommerce Section-->
        <!--Start Footer-->
        <footer>
            <div>
                <div class="site-identity">
                    <img src="img/logo.png" alt="ace-cap logo">
                    <p class="secondary-font">Ace Caps 2019 &copy;</p>
                </div>

                <div class="site-links">
                    <h4>LINKS</h4>
                    <p><a href="about.html">About</a></p>
                    <p><a href="contact.html">Contact</a></p>
                    <p><a href="inventory.html">Inventory</a></p>
                </div>

                <div class="site-links">
                    <h4>LEGAL</h4>
                    <p><a href="#">Privacy Policy</a></p>
                    <p><a href="#">Sitemap</a></p>
                </div>

                <div class="site-links">
                    <h4>SOCIAL</h4>
                    <div class="footer-social">
                        <a href="https://web.facebook.com/ACE-CAPS-416560792428609/"><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->
    </div>
    <!--End Footer-->
    <script src="js/vue.min.js"></script>
    <script src="js/template.min.js"></script>
    <script src="js/data.min.js"></script>
    <script src="js/app.min.js"></script>
</body>

</html>